<table style="width:100%;" cellpadding="0" cellspacing="0">
<tr style="vertical-align:bottom;" *ngFor="let item of list">
  <td
    style="width:35%;padding:5px;border-bottom:solid 1px #d9d9e3;font-weight:bolder;"
  >
    <a
      class="list-redir-button"
      [routerLinkActive]="['active']"
      [routerLink]="['../vessel/', item.id]"
      >VIEW
    </a>
    &nbsp;
    {{ item.name }}
  </td>
  <td style="width:35%;padding:5px;border-bottom:solid 1px #d9d9e3;">
    {{ item.vesselType }}
  </td>
  <td style="width:15%;padding:5px;border-bottom:solid 1px #d9d9e3;text-align:right;">
    {{ item.imo }}
  </td>
</tr>
</table>
