<div class="container">

<form novalidate #f="ngForm">

<div style="text-align:left;padding:8px;" *ngIf="product">
  <div class="form-group" [ngClass]="{}">
    <label>ID: </label><br />
    <input name="id" [(ngModel)]="product.id" placeholder="ID" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Name: </label><br />
    <input name="description" [(ngModel)]="product.description" placeholder="Description" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Extra: </label><br />
    <input name="extra" [(ngModel)]="product.extra" placeholder="Extra" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Price: </label><br />
    <input name="price" [(ngModel)]="product.price" placeholder="Price" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Discount %: </label><br />
    <input name="discountPercentage" [(ngModel)]="product.discountPercentage" placeholder="Discount Percentage" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Rating: </label><br />
    <input name="rating" [(ngModel)]="product.rating" placeholder="Rating" class="form-control" disabled/>
  </div>
</div>

<pre>{{summarize()|json}}</pre>

</form>

</div>
