<div class="container">

<form novalidate #f="ngForm">

<div style="text-align:left;padding:8px;" *ngIf="product">
  <div class="form-group" [ngClass]="{}">
    <label>ID: </label><br />
    <input name="id" [(ngModel)]="product.id" placeholder="ID" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Name: </label><br />
    <input name="description" [(ngModel)]="product.description" placeholder="Description" class="form-control"/>
  </div>
  <div class="form-group" [ngClass]="{}">
    <label>Extra: </label><br />
    <input name="extra" [(ngModel)]="product.extra" placeholder="Extra" class="form-control"/>
  </div>
</div>

<pre>{{f.value | json}}</pre>

</form>

</div>
