.list-redir-button{
  display:inline-block;
  padding:4px;
  font-size:small;
  background-color:#d9d9e3;
  color:#fff;
  border-radius:4px;
  cursor:pointer;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/