<table cellpadding="0" cellspacing="0" *ngFor="let user of listOfUsers">
<tr>
  <td style="padding:5px;border-bottom:solid 1px red">
      <a
        class="nav-link"
        [routerLinkActive]="['active']"
        [routerLink]="['../user/', user.id]"
        >=>
      </a>
  </td>
  <td style="padding:5px;border-bottom:solid 1px red">{{ user.id }}</td>
  <td style="padding:5px;border-bottom:solid 1px red">{{ user.lastName }} {{ user.firstName }}</td>
  <td style="padding:5px;border-bottom:solid 1px red">{{ user.bank.cardNumber }}</td>
  <td style="padding:5px;border-bottom:solid 1px red">{{ user.company.address.coordinates.lat }}</td>
</tr>
</table>
