<table cellpadding="0" cellspacing="0">
<tr *ngFor="let user of listOfUsers">
  <td style="width:20%;padding:5px;border-bottom:solid 1px #d9d9e3;text-align:center;">
      <a
        class="list-redir-button"
        [routerLinkActive]="['active']"
        [routerLink]="['../user/', user.id]"
        >VIEW
      </a>
  </td>
  <td style="width:40%;padding:5px;border-bottom:solid 1px #d9d9e3;font-weight:bolder;">{{ user.lastName }} {{ user.firstName }}</td>
  <td style="width:40%;padding:5px;border-bottom:solid 1px #d9d9e3">{{ user.bank.cardNumber }}</td>
</tr>
</table>
